.ticket + .ticket {
  margin-top: 20px;
}

.ticket {
  background-color: #ffffff;
  border-radius: 20px;
  padding: 20px;
}

.ticket__wrapper {
  display: flex;
}

.ticket__left-hand {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-right: 20px;
  border-right: 1px solid #d2d5d6;
}

.ticket__title {
  color: #25327f;
  font-size: 40px;
  margin: 0;
}

.ticket__right-hand {
  display: flex;
  flex-wrap: wrap;
  padding-left: 20px;
}

.ticket__price {
  color: #ffffff;
  background-color: #ff8124;
  padding: 10px 20px;
  border-radius: 10px;
  box-shadow: #ececec;
}

.departure__time, 
.arrival__time {
  font-size: 36px;
}

.departure__date,
.arrival__date,
.ticket__stop  {
  color: #abb2b4;
}

.ticket__stop {
  margin: auto 10px;
  border-bottom: 2px solid #d2d5d6;
  padding: 5px;
}