.filters {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 20px;
  margin-bottom: 10px;
  max-height: 170px;
  margin-right: 20px;
}

.filters__tilte {
  margin: 0;
  margin-bottom: 20px;
}