html {
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
  background-color: #f3f7fa;
}

p {
  margin: 0;
  font-size: 14px;
}

label {
  display: block;
  cursor: pointer;
}

label + label {
  margin-top: 10px;
}

button {
  font-size: inherit;
  font-family: inherit;
  border: none;
  cursor: pointer;
}

#root {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}
